# CL files
*.ilk
*.pdb
*.exp

#game state
game_state.json
quicksafe.json
roseoptions.json
recording.json
*.tmp

#Imgui
imgui.ini

#Blender
*.blend?

#VSCode
.vscode/settings.json

# Prerequisites
*.d

*.bak

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
